* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202124;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header Styling */

header {
  height: 60px;
}

.navbar {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.menu-icon {
  -webkit-filter: invert(100%);
}

.circle-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-shadow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.SignIn {
  box-sizing: border-box;
  background-color: #c2e7ff;
  padding: 10px 12px;
  margin: 12px 16px 12px 10px;
  min-width: 85px;
  display: inline-block;
  font-size: 14px;
  min-height: 40px;
  outline: none;
  text-align: center;
  line-height: 18px;
  position: relative;
  border-radius: 100px;
}

.sign-in {
  color: black;
}

/* Content Styling */

.Gdd5U {
  height: 24px;
  width: 24px;
}

.content-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.logo-img {
  width: 300px;
  margin-bottom: 20px;
}

.search-bar {
  background-color: lightgrey;
  border: 1px solid white;
  width: 600px;
  height: 45px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.search-bar span {
  color: gray;
  margin-right: 15px;
}

.search-bar input {
  flex-grow: 0.95;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  background-color: lightgrey;
  border: none;
  outline: none;
}

.search-bar svg {
  cursor: pointer;
}

.search-bar:hover {
  box-shadow: 0px 0px 4px 0px whitesmoke;
}

.search-btn {
  margin-top: 20px;
}

/* .search-btn button {
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #303134;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
} */

.search-btn button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.search-btn button:hover {
  border: 1px solid #bfbfbf;
}

.language {
  color: white;
  margin-top: 20px;
  font-size: 14px;
}

.language p a {
  color: blue;
}

.language p a:hover {
  text-decoration: underline;
}

/* Footer Styling */

footer {
  background-color: #1f1f1f;
  height: 100px;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 20px;
}

.upper-footer {
  height: 50%;
  border-bottom: 1px solid #313335;
}

.upper-footer p {
  color: white;
  font-size: 14px;
}

.lower-footer {
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.lower-footer ul li a {
  font-size: 14px;
  color: white;
}

.lower-footer ul li a:hover {
  text-decoration: underline;
}

.lower-left-footer {
  display: flex;
}

.lower-left-footer li {
  margin-right: 15px;
}

.lower-right-footer {
  display: flex;
}

.lower-right-footer li {
  margin-left: 15px;
}
